apiVersion: v1
kind: Service
metadata:
  name: {{ include "mediamanager.fullname" . }}
  labels:
    {{- include "mediamanager.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: "http"
  selector:
    {{- include "mediamanager.selectorLabels" . | nindent 4 }}
